.options-container {
padding: 15px;
display:block;
margin-top:2em;
position: relative;
border:3px solid #ccc;
width: 620px;
}
.options-container h1 {
width: 22px;
background: #f7f7f7;
color: #7c7c7c;
text-shadow: 0 1px 2px #c5c5ca;
padding: 5px 5px 6px 5px;
border: thin solid #aaa;
border-radius: 2px;
text-align: center;
}
.options-table {
border: 1px solid #ccc;
padding: 15px;
width: 580px;
background: #fafafa;
margin: auto;
}
.options-table label {
padding:3px;
margin-right: 2em
}
.options-table input[type=text] {
background: #fafaef;
}
.options-container fieldset {
padding: 9px;
border: 3px solid #999;
border-radius:5px;
background: #fafafa
}
td h3, td h4, td h5 {
padding: 0 7px;
}
.bgh {line-height: 1.346; color: #333; background: #fffff1; padding: 1px 9px;}
.bgh a, .bgh a:hover { color: #067; cursor: help; text-decoration: none; }
.bgh a:last-child { color: normal; text-decoration: underline; cursor: pointer; }
.bgh ul li { list-style: inside disc; padding-left: 10px; }
.bgh ul li span { color: #8bb; }
.clearme{clear: both; margin:0; padding:0;}
.donate {color: #079; text-transform:uppercase;} 